<div class="row text-center">
<div class="large-4 medium-4 columns download-icons">
	<i class="fa fa-linux fa-5x"></i>
	<h3 class="index-header">Linux AppImage (glibc >= 2.27)</h3>

    {{ with .Site.Data.release.appimage }}
    <p class='dl-links'>
		<a title="Download digiKam {{ $.Site.Data.release.version }} 64-bits AppImage for Linux Intel (glibc >= 2.27)" href="https://download.kde.org/stable/digikam/{{ .b64.file }}">64-bits</a> 
	</p>
    {{ end }}
</div>
<div class="large-4 medium-4 columns download-icons">
	<i class="fa fa-windows fa-5x"></i>
	<h3 class="index-header">Windows 10 or later</h3>

    {{ with .Site.Data.release.win }}
	<p class='dl-links'>
        <a title="Download digiKam {{ $.Site.Data.release.version }} 64-bits for Windows Intel version 10 or later" href="https://download.kde.org/stable/digikam/{{ .b64.file }}">64-bits</a>
	</p>
	{{ end }}
</div>
<div class="large-4 medium-4 columns download-icons">
	<i class="fa fa-apple fa-5x"></i>
	<h3 class="index-header">macOS 10.15 or later</h3>

    {{ with .Site.Data.release.macos }}
		<p class='dl-links'>
            <a title="Download digiKam {{ $.Site.Data.release.version }} 64-bits for macOS Intel version 10.15 or later (Compatible Silicon using Apple Rosetta 2)" href="https://download.kde.org/stable/digikam/{{ .b64.file }}">64-bits</a> 
        </p>
		{{ end }}
</div>
</div>

<div class="row">
	<div class="large-12 columns all-downloads">
		<p class="dl-links">
			<p><a href="http://download.kde.org/stable/digikam/">See all downloads! </a></p>
			<p>Note: all files are signed with GnuPG and can be verified with <a href="https://keys.openpgp.org/vks/v1/by-fingerprint/D1CF2444A7858C5F2FB095B74A77747BC2386E50">this public key</a></p>
		</p>
	</div>
</div>
